* {
	font-family: 'Source Sans Pro', sans-serif;
}
html, body {
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
	color: #55cc8f;
}

hr{
	display: block;
    height: 10px;
    width: 40px;
    border: 0;
    border-top: 1px solid #fff;
    margin: auto;
    padding: 0;
}

.content{
	width: 90%;
	margin: 0 auto;
}

#main {
	width: 100%;
	height: 100%;
	background: url("../assets/banner.jpg") center top no-repeat;
	/*box-shadow: inset 0 0 0 100px rgba(36, 7, 10, 0.74);*/
	background-size: cover;
	/*background-size:100% 100%;*/
	position: relative;
	padding-bottom: 20px;
}
.black-glass {
	background: rgba(36, 7, 10, 0.74);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#nav {
	float: right;
}
#nav li{
	display: inline-block;
	padding: 0 10px;
}
#nav li:last-child{
	padding-right: 0;
}
.clear {
	clear: both;
}

.heading{
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;
	font-weight: bolder;
}
.heading > i{
	float: right;
	display: none;
}
.banner-text {
	padding: 50px;
	margin-top: 50px;
	text-align: center;
	color: #fff;
}

.title{
	font-size: 40px;
	font-weight: bold;
}
.cards {
	text-align: center;
	padding: 40px 0;
	margin: 40px 0;
}
.cards li{
	padding: 0 20px;
	display: inline-block;
	vertical-align: middle;
	border-right: 1px solid #fff;
}
.cards li:last-child {
	border: none;
}
.cards li > *{
	display: block;
}
.cards i{
	font-size: 36px;
	color: #55cc8f;
}
.card-title {
	font-weight: bold;
	font-size: 24px;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
button{
	padding: 10px 20px;
	border:2px solid #55cc8f;
	color: #55cc8f;
	font-weight: bold;
	background-color: transparent;
	border-radius: 20px;
	letter-spacing: 1px;
}
button:focus{
	outline: none;
}

.features{
	padding: 50px 30px;
	text-align: center;
}
.features img{
	border-radius: 50%;
}
.feature {
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
}
.left{
	float: left;
}
.right{
	float: right;
}
.feature-title {
	display: block;
	font-weight: bolder;
	margin: 0 auto;
	margin-top: 10px;
	width: 40%;
	line-height: 34px;
	font-size: 30px;
}
.feature p {
	width: 70%;
	margin: 20px auto;
	line-height: 20px;
}

#touch {
	clear: both;
	background-color: #55cc8f;
	color: white;
	padding: 50px 20px; 
}

#touch .title{
	text-align: center;
	display: block;
	font-size: 30px;
}

label {
	display: block;
	padding-bottom: 4px; 
	font-weight: bolder;
}
.half{
	width: 49%;
}

input[type='text'], input[type='email'], textarea {
	border-radius: 2px;
	border: 0;
	border: 1px solid #fff;
	padding: 5px 12px;
	margin-bottom: 18px;
	background-color: transparent;
	color: white;
	font-size: 16px;
	box-sizing: border-box;
	width: 100%;
}

textarea {
	height: 260px;
}
::placeholder {
  color: white;
}
.input{
	margin-top: 50px;
}
#send-btn{
	color: white;
	border-color: white;
}
.wrapper {
	text-align: center;
}
.wrapper small{
	margin-top: 50px;
	padding: 4px;
	display: block;
}

@media (max-width: 780px) {
  .cards li{
  	display: block;
  	border: none;
  	padding-bottom: 20px;
  }
  #main{
  	height: 845px;
  }
  .feature {
  	width: 100%;
  	padding: 20px 0;
  }
  .half {
  	width: 100%;
  }
  .heading > i{
	display: block;
	position: relative;
}
  .heading > ul{
  	display: none;
  }
}