html,body{
	height: 100%;
}
.container-div {
    height:100%;
    width: 100%;
    background: url("../assets/bg.png"), center,  no-repeat;
    background-size: cover;
}
.content {
	height: 500px;
	width: 500px;
	background: url("../assets/image.jpeg") center center no-repeat;
	border: 1px solid #000;
	overflow: scroll;
	background-attachment: local;
}

/*Q. 4*/
.content p{
	background-color: #f00;
}

footer {
	height: 100%;
	width: 100%;
}

.fb-icon-bg, .insta-icon-bg, .twitter-icon-bg {
	background-image: url("https://image.flaticon.com/sprites/share/packs/174834-social-media-logos.png");
	background-repeat: no-repeat;
}

.fb-icon-bg {
	width: 128px;
	height: 135px;
    background-position: -236px -23px;
	display: inline-block;
}
.insta-icon-bg {
	width: 128px;
	height: 135px;
    background-position: -38px -23px;
	display: inline-block;
}
.twitter-icon-bg {
	width: 128px;
	height: 135px;
    background-position: -435px -21px;
	display: inline-block;
}

.animate1 {
	height: 100px;
	width: 100px;
	animation-name: opacity;
	animation-duration: 4s;
	animation-delay: 3s;
	animation-iteration-count: 2;
	background-color: #400;
	color: white;
}

@keyframes opacity{
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 0.5}
}

.animate2 {
	position: absolute;
	top: 250px;
	left: 200px;
	height: 100px;
	width: 200px;
	background-color: #ff00ff;
	border: 1px solid #000;
}

.animate2:active {
	height: 200px;
	width: 100px;
	background-color: #000;
	border: 2px solid #ff00ff;
	transition: width 1s, height 1s, transform 1s;
	transform: scale(2, 3);
} 