body {
  background-image: url("http://www.geocities.ws/claulind/portfolio/tutorial4case4/parch.jpg")
}
table {
  color: #6f3b3c;
  border-color: #aaa;
}

caption {
  font-weight: bold;
}

th, td {
  border-color: #aaa;
}

th {
  background-color: #eeff00;
}

td {
  background-color: #fff;
}

.men {
  background-color: #9dbcff;
}

.women {
  background-color: #73ff95
}