body,p {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
.centerfix {
	background-color: #3b5998;
	padding: 15px 150px 8px 150px;
}

nav {
	float: right;
}

#logo {
	width: 180px;
	margin-top: 10px;
}

.loginForm {
	clear: both;
	padding: 0px 10px;
	display: inline-block;
}

.loginLabel {
	color: white;
	font-size: 12px;
	display: block;
}

#loginBtn {
	color: white;
	font-weight: bold;
	background-color: #4267b2;
	border-color: #29487d;
	border-radius: 2px;
	border-width: 1px;
	padding: 4px;
	border-style: solid;
}

.loginInputBox {
	border-color: #111;
	border-width: 1px;
	border-style: solid;
	width: 150px;
	line-height: 20px;
}

#main {
	background-image: linear-gradient(to bottom, #fefefe, #f9f8fb, #f2f2f8, #edecf5, #e3e2f0, #dcdbec, #d6d4e9, #d4d2e8);
}

.halfSection {
	width: 49%; 
	padding-top: 26px;  
	font-weight: bold;
	margin: 0;
	display: inline-block;
}

select {
	padding: 6px;
	background-color: #fff;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputForm {
	margin-top: 12px;
	margin-bottom: 12px;
}

.signupInput {
	padding: 8px;
	border: 1px solid #dedede;
	font-size: 18px;
	border-radius: 4px;
	margin: 4px;
	width: 90%;
}

.mar-left-0 {
	margin-left: 0;
}

.mar-right-0 {
	margin-right: 0;
}

.half {
	width: 41.7%;
}

.leftSection {
	vertical-align: top;
}

label {
	font-weight: normal;
	display: inline-block;
	vertical-align: top;
	margin-right: 3%;
}

.short-msg {
	display: inline-block; 
	text-decoration: none; 
	font-size: 12px; 
	width: 150px; color: #0000AA; 
	font-weight: lighter; 
	vertical-align: middle;
}

input[type="radio"] {
	display: inline-block;
	vertical-align: top;
}

#gender {
	margin: 16px 0;
}

#gender label {
	font-size: 18px;
}

#declaration {
	font-weight: 300;
	font-size: 12px;
	width: 66%
}

#declaration .blue-links {
	color: blue;
	cursor: pointer;
}

#sign-up-btn {
	padding: 10px 60px; 
	background-image: linear-gradient(to bottom, #67ae55, #578843); 
	border: 1px solid #060; 
	border-radius: 8px; 
	margin: 20px 0; 
	color: white; 
	font-size: 20px;
}

.bottom-msg {
	font-weight: bold; 
	font-size: 14px; 
	margin: 20px 0px;
}

.footer {
	background-color: #fff; 
	margin-top: 20px; 
	margin-bottom: 20px;
}

.list {
	list-style: none;
	display: inline-block;
}

.list li {
	display: inline-block;
	color: #008;
	font-size: 12px;
	padding: 4px;
}

.list li a {
	text-decoration: none;
}

.bottom-msg span {
	color: #009;
}

#heading {
	font-size: 34px; 
	line-height: 40px;
}

#sub-heading {
	font-size: 20px; 
	padding-top: 12px; 
	font-weight: normal;
}

.birthday-label {
	font-size: 20px; 
	padding-top: 12px; 
	font-weight: normal;
}

#connect-img {
	max-width: 100%;
}

#tagline {
	font-size: 21px; 
	line-height: 30px; 
	color: #0e385f;
}